
.about { background-color: #FCFCFC; }

/* Set base for fonts on this page */
.about p { font: 300 15px 'Raleway', monospace; }

.about div.about-header {
	height: 49vh; /* 400px */
    position: relative;
	

    background: url('../img/header/circle.jpeg');
	background-position: center center;
	background-size: cover;
    filter: grayscale(90%);
}

.about h1.page-title {
    margin: 0;
    padding: 0 5%;
    width: 90%;
    
    color: black;
    text-align: center;
    letter-spacing: 5px;
    font: 700 50px 'Anurati', Helvetica, sans-serif;

    position: absolute;
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    top: 0;
    right: 0;
    height: 50vh;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.about h1 > span {
    font-size: 15rem;
    text-transform: capitalize;
    color: rgba(255,255,255,.7);
}

.about h1 > span.gold-dot {
    color: #a3876d;
    opacity: .7;
}

.about div.about-header span.title-spacer { margin: 0 10px; }



/* Under header styles */

.about div.header-sub {
    height: 8vh;
    width: 100%;
    background: rgba(170, 148, 131, 1);
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.about div.header-sub h2.title {
    width: 100%;
    margin: 0;
    color: black;
    font: normal 25px 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.85vw;
    text-align: center;
/*  top: 50%;
    transform: translateY(50%);*/
}


/* about info section styles */

/* gold rgba: rgba(163, 135, 109, .8) */

/* Margin top in here dictates how far in the h2 title goes into the header */
.about div.about-info {
	height: 70vh;
    width: 100%;

    margin: 0;
	background: white;
}

.about .about-info div:first-child {
    width: 50%;
    height: 100%;
    float: left;
    text-align: left;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.about p.text-title {
    width: 80%;
    font: bold 17px 'Orkney', Helvetica;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.about p.main-text {
    margin: 0;
    line-height: 30px;
    letter-spacing: 1px;
    color: #333333;
    width: 80%;
    font-family: 'Raleway';
    font-size: 16px;
}

.about p.main-text a {
    border-bottom: 1px dotted #a3876d;
    cursor: pointer;
}

.about .about-info div.info {
    height: calc(100% / 3);
    width: 50%;
    float: left;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.about .about-info div.info p {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.about .about-info div.info-1 p { color: #1b1b1b; }
.about .about-info div.info-2 p { color: lightgrey; }
.about .about-info div.info-3 p { color: black; }

.about .about-info div.info p:first-child {
    font: bold 17px 'Orkney', Helvetica, sans-serif;
    width: 125px;
    text-align: center;
    letter-spacing: 3px;
}

.about .about-info div.info p:last-child  { font: normal 17px 'Raleway', monospace; }

.about .about-info div.info-1 { background: #e3e3e3; }
.about .about-info div.info-2 { background: #1b1b1b; }
/*.about .about-info div.info-3 { background: #666666; }*/


/* After underlines in about info */
.about .about-info div.info p:first-child:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #a3876d;
    margin: 0 auto 5px;
}

/*.about .about-info div.info-1 p:first-child:after { background-color: #a3876d; }
.about .about-info div.info-2 p:first-child:after { background-color: #a3876d; }
.about .about-info div.info-3 p:first-child:after { background-color: #1b1b1b; }*/

.about .img-banner {
    width: 100%;
    height: 15vh;
    display: block;

    /*background: url('../img/header/blue-build.jpeg');*/
    background: black;
    background-position: center center;
    background-size: cover;
    position: relative;
}


@media (max-width: 1250px) {
    .about h1 > span { font-size: 10rem; }

    .about h1.page-title,
    .about div.about-header { height: 35vh; }
}


@media (max-width: 1050px) {
    .about div.about-header { height: 35vh; }
    .about h1 > span { font-size: 7rem; }
    .about div.header-sub h2.title { font-size: 20px; }
    
    .about h1.page-title {
        margin: 0 2.5% 0 0;
        padding: 0;
    }

    .about .about-info div:first-child {
        width: 100%;
        height: auto;
        padding: 40px 0;
    }

    .about .about-info div.info {
        height: calc(60% / 3);
        width: 100%;
    }

    .about .img-banner { display: none; }
}

@media (max-width: 768px) {
    .about h1.page-title {
        top: 0;
        height: 20vh;
        padding: 0 5vw;
        align-items: center;
        margin: 0;
    }

    .about h1 > span { font-size: 6rem; }
    .about div.about-info { margin: 0; }
    .about div.about-header { height: 20vh; }

    .about div.header-sub h2.title { font-size: 18px; }

    .about .about-info div:first-child {
        width: 100%;
        height: auto;
        padding: 40px 0;
    }

    .about .about-info div.info {
        height: calc(60% / 3);
        width: 100%;
    }
}


@media ( max-width: 500px ) {
    .about h1 > span { font-size: 5rem; }
    .about div.about-header { height: 15vh; }
    .about div.header-sub { height: 7vh; }
    .about div.header-sub h2.title { font-size: 15px; }
    .about p.main-text {
        font-size: 12px;
        line-height: 22px;
    }

    .about h1.page-title,
    .about div.about-header { height: 25vh !important; }
    
    .about h1.page-title {
        top: 88px;
        height: 15vh;
        width: 80%;
    }

    .about .about-info div.info p:first-child,
    .about .about-info div.info p:last-child { font-size: 15px; }


}

@media ( max-width: 400px ) {
    .about h1 > span { font-size: 3.5rem; }

    .about div.header-sub h2.title { font-size: 12px; }

    .about p.text-title {
        font-size: 14px;
        margin-bottom: 4px;
    }

    .about .about-info div.info p:first-child,
    .about .about-info div.info p:last-child { font-size: 14px; }

    .about .about-info div.info {
        height: calc(60% / 3);
        width: 100%;
    }
}