
.about { background-color: #FCFCFC; }

/* Set base for fonts on this page */
.about p { font: 300 15px "PT Mono", monospace; }

.about h1.page-title {
	padding: 34px 30px 5px 0;
    margin: 0;
    /* background: white; */

    font: 700 40px "Heebo", "Raleway", Helvetica, sans-serif;
    color: black;
    text-align: right;
    text-decoration: none;
    letter-spacing: -3px;
}

.about div.about-header {
	height: 35vh; /* 400px */
	background: url('../img/header/circle.jpeg');
	background-position: center center;
	background-size: cover;
}

/* Margin top in here dictates how far in the h2 title goes into the header */
.about div.about-summary {
	margin: 0 10%;
	background: white;
	/*background-color: rgba(163, 135, 109, .8);*/
}

.about h2.header-text {
	font: 700 45px "Heebo", Helvetica, sans-serif;
    letter-spacing: -2px;
    background-color: white;
    height: 60px;
    margin: -7.5vh 10% 0;
    padding: 10px 40px 0;
}

/*.about h2.header-text {
    font: 700 45px "Heebo", Helvetica, sans-serif;
    letter-spacing: -2px;
    background-color: white;
    height: 60px;
    margin: -12vh 10% 0;
    padding: 10px 40px 0;
}*/

.about div.about-general {
	margin: 0;
    padding: 30px 40px 15px;
}

.about div.about-general div { display: inline-block; }
.about div.about-general div:last-child { margin-left: 20px; }

.about div.about-general p {
	font-size: 17px;
	margin: 10px 0 0;
}

.about div.about-general div:first-child p {
	font: 700 20px 'Heebo', Helvetica, sans-serif;
    text-transform: lowercase;
	letter-spacing: -1px;
    margin-top: 2px;
}

.about div.about-general div:last-child p { 
    color: #a3876d;
    margin-top: 13px;
}

/*.about div.about-general span.about-quote {
	display: inline-block;
	vertical-align: top;
	margin: 10px 10%; 0;
	color: #a3876d;
}*/

.about p.main-text {
    margin: 0;
    padding: 0 40px 20px;
    line-height: 25px;
    letter-spacing: 0;
    width: 820px;
    color: #333333;
}

@media ( max-width: 1425px) {
    .about p.main-text { width: calc(100% - 80px); }
}

.about p.main-text a {
    border-bottom: 1px dotted #a3876d;
    cursor: pointer;
}