.width-limiter {
    max-width: 1400px;
    max-height: auto;
    background-color: white;
}

.gear-heading {
    color: white;
    font-size: 4em;
    font-weight: 800;
    letter-spacing: 0;
    font-family: 'Work Sans', sans-serif;
    background-color: none !important;
    
    /* For Border lines above and below brand heading
    padding-top: 18px;
    padding-bottom: 14px;
    border-top: solid 3px white;
    border-bottom: solid 3px white;
    */
}

/* ******** Intro ******** */
.gear-intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 175px 0;
    text-align: center;
    color: rgba(255,255,255,0.7);
    /*background-color:#000000;
    opacity:0.3;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-image: url(../img/nyc.jpg) no-repeat center center scroll; */
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../img/nyc.jpg");
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../img/nyc.jpg");
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../img/nyc.jpg");
    background-image: linear-gradient(top, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../img/nyc.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

@media (max-width: 1200px) {
    .gear-intro {
        background: url(../img/nyc-f.jpg) no-repeat center center scroll;
        background-color: rgba(0, 0, 0, .7);
    }
}

.gear-intro-body {
    display: table-cell;
    vertical-align: middle;
}

/* Sets a black opaque backround around item */
.head-black {
    *background-color: rgba(0, 0, 0, .7);
    padding: 4px 30px;
}

.brand-heading {
    color: white;
    font-size: 35px;
    font-weight: 900;
    letter-spacing: 0.18em;
    font-family: 'Poppins', sans-serif;
    background-color: none !important;
    
    /* For Border lines above and below brand heading */
    padding-top: 18px;
    padding-bottom: 14px;
    border-top: solid 3px white;
    border-bottom: solid 3px white;
}

.intro-text {
    color: white;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.05em;
    text-align: center;
    margin-top: 22px;
}

.intro-text-two {
    color: white;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.05em;
    text-align: center;
    margin-top: -5px;
}

/** gear specs **/
.gear-specs {
    margin-left: 50px;
}

.gear-specs-title {
    list-style: none;
    font-family: 'Work Sans';
    font-weight: 800;
    font-size: 20px;
    color: black;
    letter-spacing: .15em;
    
    margin-bottom: 1em;
}

.gear-specs-info {
    color: black;
    font-family: "Work Sans";
    font-weight: 400;
    font-size: 13px;
    letter-spacing: .07em;
    
    list-style: none;
    
    margin-bottom: .7em;
    padding-bottom: .7em;
    border-bottom: solid 1px lightgrey;
}

.gear-specs-item {
    font-size: 15px;
    font-weight: 500;
}

.img-define {
    border:0;
    box-shadow:0;
    border-radius:0;
    padding: 0;
    margin-left: -2.5em;
    max-height: 3000px;
    max-width: 90%;
}

.tower-sec {
    padding-bottom: 50px;
}

.divider-pad {
    background-color: whitesmoke;
    padding-bottom: 50px;
}

.gear-specs-2 {
    margin-left: 79px;
}

.gear-specs-title-2 {
    list-style: none;
    font-family: 'Work Sans';
    font-weight: 800;
    font-size: 20px;
    color: black;
    letter-spacing: .15em;
    
    margin-bottom: 1em;
}

.gear-specs-info-2 {
    color: black;
    font-family: "Work Sans";
    font-weight: 400;
    font-size: 13px;
    letter-spacing: .07em;
    
    list-style: none;
    
    margin-bottom: .7em;
    padding-bottom: .7em;
    border-bottom: solid 1px lightgrey;
}

.gear-specs-item-2 {
    font-size: 15px;
    font-weight: 500;
}

.img-peripherals {
    border:0;
    box-shadow:0;
    border-radius:0;
    padding: 0;
    margin-left: -2.5em;
    max-height: 3000px;
    max-width: 90%;
}

/***************************/
