@import 'https://fonts.googleapis.com/css?family=Heebo:300,700|Raleway:400,700';

a {
	color: black;
	text-decoration: none;
	
	webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

a:hover {
	color: #a3876d !important; 
	webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-ms-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	transition: all .2s ease-in;
}

p {
	margin: 0;
	padding: 0;
}

html {
	background: white;
	font: normal 12px 'Raleway', Helvetica, sans-serif;
}

#wrapper {
    width: calc(100vw - 400px);
    height: calc(100vh - 60px);
    display: inline-block;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 1100;
}


/* TYPED CSS*/
.typed-cursor {
    font-size: 33px;
    font-weight: 700;
    color: #a3876d;

    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* END TYPED CSS */

nav {
	position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    display: inline-flex;
    flex-flow: column;
    justify-content: space-between;

    height: calc(100vh - 100px);
    width: 400px;
    padding: 50px 60px;
}

nav a.logo {
	font: 700 55px "Heebo", "Raleway", Helvetica, sans-serif;
	color: black;
	text-decoration: none;
	letter-spacing: -2px;
}

nav a.logo:hover { color: black !important; }

nav a.logo:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    margin: -20px 0 0 3px;
    background-color: #a3876d;

    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

nav a.logo:hover:after {
	width: 123px;
	letter-spacing: 2px;
	transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
}

.gold-dot {	color: #a3876d; }

nav a.nav-li {
	display: block;
	margin-top: 40px;
	font: 700 25px "Heebo", Helvetica, sans-serif;
	color: grey;
	letter-spacing: -1px;
	text-decoration: none;
	cursor: not-allowed;
}


nav .nav-li:after {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    margin: -7px 0 0;
    background-color: #a3876d;

    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

nav .nav-li:hover:after {
	transition: all .15s ease-in-out;
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
}


/* Controls the animation length of the underline extension animation */
nav a.li-about:hover:after  { width: 65px; }
nav a.li-int:nth-child(2):hover:after { width: 96px; }
nav a.li-exp:nth-child(3):hover:after { width: 119px; }
nav a.li-last:last-child:hover:after 	 { width: 83px; }


/* Overrides the gold hover animation to black */
nav .nav-li:hover { color: black !important; }

/* Used to make the section seem more centered in accordance with main text hero on index.html */
nav .nav-li:first-child { margin: -30px 0 0; }

footer {
	display: block;
	font: 700 13px "Heebo", Helvetica, sans-serif;
	letter-spacing: .01rem;
	color: black;
}

footer a div {
	height: 25px;
	width: 25px;
	display: inline-block;
	margin: 0 15px 0 0;
	cursor: pointer;

	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

	transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0); 
    -moz-transform: translate(0, 0);

    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

footer a div:hover {
    transform: translate(0,-3px);
    -webkit-transform: translate(0,-3px);
    -o-transform: translate(0,-3px); 
    -moz-transform: translate(0,-3px);

    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

footer .twitter-icon { background-image: url('../img/icons/black-social/twitter.png'); }
footer .ig-icon { background-image: url('../img/icons/black-social/instagram.png'); }
footer .git-icon { background-image: url('../img/icons/black-social/github.png'); }
footer .mail-icon { background-image: url('../img/icons/black-social//mail.png'); }

footer .twitter-icon:hover { background-image: url('../img/icons/gold-social/twitter.png'); }
footer .ig-icon:hover { background-image: url('../img/icons/gold-social/instagram.png'); }
footer .git-icon:hover { background-image: url('../img/icons/gold-social/github.png'); }
footer .mail-icon:hover { background-image: url('../img/icons/gold-social/mail.png'); }


footer p.copyright {
	font-size: 14px;
	text-transform: uppercase;
	cursor: default;
	color: #a3876d;
}


body { 
	display: block;
	width:  calc(100vw - 60px);
	height: calc(100vh - 60px);
	margin: 25px;
	border: 5px solid rgba(150, 150, 150, .2);
	z-index: 1;
	background: none;
	overflow: hidden;
}

body header {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	width:  calc(100vw - 60px);
	height: calc(100vh - 60px);

    position: absolute;
    top: 30px;
    left: 30px;
    bottom: 30px;
    right: 30px;
	cursor: default;
}

body .head-main {
	font: 700 7.5vw "Heebo", Helvetica, sans-serif; /* prev: 125px */
	letter-spacing: -7px;
	text-transform: uppercase;
}

body .head-desc {
	font: 400 27px "Raleway", Helvetica, sans-serif;
	color: grey;
  	text-transform: uppercase;
  	letter-spacing: .14rem;
}

body .desc-one { margin-bottom: -10px; }
body .desc-two { margin-top: -20px; }

body .line-container {
	position: absolute;
    min-height: 30px;
    bottom: 30px;
    right: 0;
    left: 0;
    z-index: 100;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin: 0 35%;
}

body .line-container .scroll-text {
	height: 20px;
	min-width: 85px;
    margin: 0 auto;
    cursor: not-allowed;

    color: black;
    text-align: center;
    font-family: "Raleway" !important;
    letter-spacing: 3px;
    text-transform: uppercase;

    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out; 
}

body .line-container:hover .scroll-text { 
	color: #a3876d;

	transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out; 
}

body .line-container .down-line {
	width: 1px;
    height: 60px;
    border-left: 1px solid black;
    margin: 0 auto;

    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

body .line-container:hover .down-line { 
	height: 45px;
    border-color: #a3876d;

    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

body a.current {
	position: absolute;
	bottom: 50px;
	right: 60px;
	z-index: 200;

	color: grey;
	font-size: 12px;
	font-weight: 700;
	font-family: "Heebo";
	text-decoration: none;
	letter-spacing: 1px;
	text-transform: uppercase;
}

body a.current:hover { color: black !important; }

body a.current:after {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    margin: -5px 0 0 1px;
    background-color: #a3876d;

    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

body a.current:hover:after {
	width: 236px; /* prev: 315px; */
	letter-spacing: 2px;

	transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

body a.current .gold-dot { font-size: 20px; }
body a.current:hover .gold-dot { color: grey; }





/* SPECIAL SITE STYLES */

/* FOR PARTICLE CIRCLE ON HOMEPAGE */
body canvas {
	position: absolute;
    right: -10%;
    top: 0%;
    width: 90vw;
    height: 90vh;
    z-index: -1;
}

/* This is for the color when you highlight something on page */
*::selection { background: rgba(163, 135, 109, .6); }
*::-moz-selection { background: rgba(163, 135, 109, .6); }


/* Test after line */
/* :after {
    content: '';
    display: block;
    width: 400px;
    height: 2px;
    background-color: #a3876d;
    margin: 10px auto 0;
}
 */
