/*
Margin: space between other items
Padding: space added to section/div

Fonts:
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
*/

/* ******** General ******** */
html {
    background-color: white;
    font-weight: 400 !important;
    font-family: 'Poppins', sans-serif !important;
}

/* unvisited link */
a:link {
    color: #CC0000;
}
/* visited link */
a:visited {
    color: red;
}
/* mouse over link */
a:hover {
    color: red;
}
/* selected link */
a:active {
    color: grey;
}

/* ******** Universal ******** */
.section-header {
    font-weight: 900;
    letter-spacing: 0.15em;
    font-family: 'Poppins', sans-serif;
}

.section-header-two {
    color: white;
    font-weight: 900;
    letter-spacing: 0.15em;
    font-family: 'Poppins', sans-serif;
}

.divider {
    padding-bottom: 15px;
    border-bottom: solid 4px #CC0000;
}

.section-content {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
}

.section-content-two {
    color: white;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
}

.text-center {
    text-align: center;
}

/* Centers Divs :D*/
/* source: "https://coderwall.com/p/c4w8aw/vertically-and-horizontally-center-content-in-webkit-with-css3-flexbox" */
.div-center {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}

/* ******** Navbar ******** */
.navbar {
    /* Nav to stick to top of .intro section */
    margin-bottom: 0px;
}

/* ******** Intro ******** */
.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 295px 0;
    text-align: center;
    color: rgba(255,255,255,0.7);
    /*background-color:#000000;
    opacity:0.3;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-image: url(../img/nyc.jpg) no-repeat center center scroll; */
    
    /* enables parallax scrolling */
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../img/nyc.jpg");
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../img/nyc.jpg");
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../img/nyc.jpg");
    background-image: linear-gradient(top, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../img/nyc.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    /* end parallax code */
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
}

 /*Sets a black opaque backround around item*/
 /*background-color: rgba(0, 0, 0, .7);
   padding: 4px 30px;*/

.head-black {
    max-width: 35%;
    margin: 0% 30%;
} 

.brand-heading {
    color: white;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 0.2em;
    font-family: 'Poppins', sans-serif;
    background-color: none !important;
    
    /* For Border lines above and below brand heading */
    padding-top: 18px;
    padding-bottom: 14px;
    border-top: solid 3px white;
    border-bottom: solid 3px white;
}

.intro-text {
    color: white;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.05em;
    text-align: center;
    margin-top: 22px;
}

.intro-text-two {
    color: white;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.05em;
    text-align: center;
    margin-top: -5px;
}

@media (max-width: 1200px) {
    .brand-heading {
        font-size: 35px;
    }
}

@media (max-width: 1000px) {
    .brand-heading {
        font-size: 30px;
    }

    .intro-text {
        font-size: 15px;
    }

    .intro-text-two {
        font-size: 15px;
    }

}

@media (max-width: 725px) {
    .brand-heading {
        font-size: 25px;
    }
}

@media (max-width: 670px) {
    .intro-text {
        font-size: 13px;
    }

    .intro-text-two {
        font-size: 13px;
    }
}

@media (max-width: 600px) {
    .brand-heading {
        font-size: 20px;
    }

    .intro-text {
        font-size: 10px;
    }

    .intro-text-two {
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    .brand-heading {
        font-size: 15px;
    }

    .intro-text {
        font-size: 5px;
    }

    .intro-text-two {
        font-size: 5px;
    }
}

@media (max-width: 360px) {
    .brand-heading {
        font-size: 10px;
    }
}

@media (max)

/* ******** About ******** */
#about {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: whitesmoke;
}

.about-section {
    /* this is for the footer*/
    margin-top: 40px;
}

.about-icon {
    max-width: 180px;
    max-height: auto;
}

.about-icon-one {
    margin-top: 53px;
    margin-left: -50px;
    margin-bottom: 30px;
}

.about-icon-two {
    margin-top: 25px;
    margin-left: -40px;
    margin-bottom: 30px;
}

.about-icon-three {
    margin-top: 40px;
    margin-left: -40px;
    margin-bottom: 30px;
    
}

/* ******** Development ******** */
#dev {
    width: 100%;
    padding-top: 70px;
    padding-bottom: 30px;
    background-color: #404040;
}

.dev-icon {
    margin: 20px;
    max-width: 150px;
    max-height: 218px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.rails-icon {
    max-width: 140px;
}

/**** stops all both images in both dev/about sections from blowing up and showing after screen width has shrunken. ****/
/**** also gives a bigger padding to bottom of the sections ****/
@media (max-width: 767px) {
     .dev-icon {
         display:none;
     }
    
    .about-icon {
         display:none;
     }
    
    #dev, #about {
        padding-bottom: 80px;
    }
    
}

/* ******** Experience ******** */
#experience {

}

/* ******** Photography ******** */
.photo {

}

/* ******** Footer ******** */

#footer {
    width: 100%;
    height: auto;
    color: black;
    padding: 40px 0;
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}

.icons {
    background-color: whitesmoke;
    max-width: 35px !important;
    max-height: auto !important;
    margin: 25px 12px;
}

.footer-text {
    /*negative value takes white bar under footer away*/
    text-align: center;
    color: ;
    font-size: 15px;
    letter-spacing: 0.12em;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}