/*
Margin: space between other items
Padding: space added to section/div

Fonts:
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
*/

/* ******** General ******** */
html {
    background-color: white;
    font-weight: 200;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400 !important;
}

/* unvisited link */
a:link {
    color: darkred;
}

/* visited link */
a:visited {
    color: red;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: grey;
}

/* ******** Universal ******** */
.section-header {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    letter-spacing: 0.15em;
}

.section-header-two {
    color: white;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.15em;
}

.divider {
    border-bottom: solid 4px darkred;
    padding-bottom: 15px;
}

.section-content {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 15px;
}

.section-content-two {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 15px;
    color: white;
}

.text-center {
    text-align: center;
}

/* ******** Navbar ******** */
.navbar {
    /* Nav to stick to top of .intro section */
    margin-bottom: 0px;
}

/* ******** Intro ******** */
.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 330px 0;
    text-align: center;
    color: rgba(255,255,255,0.7);
    background: url(../img/books.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
}

.brand-heading {
    font-size: 35px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.005em;
    color: white;
    background-color: none !important;
}

.intro-text {
    font-size: 20px;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.0em;
    text-align: center;
    color: white;
    margin-top: -5px;
}

/* ******** About ******** */
#about {
    background-color: whitesmoke;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.about-section {
    /* this is for the footer*/
    margin-top: 40px;
}

.about-icon {
    max-width: 150px;
    max-height: auto;
}

.about-icon-one {
    margin-top: 53px;
    margin-right: 40px;
    margin-bottom: 30px;
}

.about-icon-two {
    margin-top: 25px;
    margin-bottom: 30px;
}

.about-icon-three {
    margin-top: 58px;
    margin-left: 40px;
    margin-bottom: 30px;
}

/* ******** Development ******** */
#dev {
    width: 100%;
    padding-top: 70px;
    padding-bottom: 30px;
    background-color: #404040;
}

.dev-icon {
    max-width: 150px;
    max-height: auto;
    margin: 28px;
    padding-top: 40px;
    padding-bottom: 25px;
}
/* Centers Divs :D*/
/* source: "https://coderwall.com/p/c4w8aw/vertically-and-horizontally-center-content-in-webkit-with-css3-flexbox" */
.div-center {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

/* ******** Experience ******** 
#experience {

}
*/

/* ******** Photography ******** */
.photo {

}

/* ******** Footer ******** */
#footer {
    height: 30px;
    width: 100%;
    padding-top: 10px;
    margin-bottom: -30px;
    background-color: white;
}

.footer-social {
    text-align: center;
}

.footer-social .icons {
    max-height: 25px !important;
    max-width: auto !important;
    background-color: white;
}

.footer-section p {
    /*negative value takes white bar under footer away*/
    margin-bottom: -30px;
    text-align: center;
    font-size: 13px;
    color: #333;
}