/* CHECK THIS SITE FOR IE7+ SUPPORT VERSION: https://css-tricks.com/perfect-full-page-background-image/  */

/* min-width is for the minimum width that these styles should apply*/
@media (min-width: 769px) {
	body div.overlay,
	body div.menu-burger { display: none !important; }


	nav {
		position: fixed;
	    top: 0;
	    left: 0;
	    bottom: 0;
	    z-index: 1000;
	    display: inline-flex;
	    flex-flow: column nowrap;
	    justify-content: space-between;
	    height: 100%;
	    width: 300px;
	    padding: 40px 0 45px 55px;
	}

	.gold-dot {	color: #a3876d; }

	nav #logo img {
		width: 175px;
		height: auto;
		margin-top: 10px;
	}
	
	nav > div {
		display: flex !important;
    	flex-flow: column nowrap;
	}

	nav a.nav-li {
		display: inline-block !important;
		margin-top: 40px;
		font: 700 25px "Heebo", Helvetica, sans-serif;
		color: grey;
		letter-spacing: -1px;
		text-decoration: none;
		text-transform: lowercase;
	}

	nav a.nav-li:first-child { cursor: pointer; }


	nav .nav-li:after {
		 content: '';
		 display: block;
		 width: 20px;
		 height: 2px;
		 margin: -7px 0 0;
		 background-color: #a3876d;

		 transition: all .5s ease-in-out;
		 -webkit-transition: all .5s ease-in-out;
		 -moz-transition: all .5s ease-in-out;
		 -o-transition: all .5s ease-in-out;
	}

	nav .nav-li:hover:after {
		/*width: calc(100% + 4px);*/

		transition: all .15s ease-in-out;
		 -webkit-transition: all .15s ease-in-out;
		 -moz-transition: all .15s ease-in-out;
		 -o-transition: all .15s ease-in-out;
	}

	nav a.li-idx:hover:after  { width: 65px; }
	nav a.li-about:hover:after  { width: 65px; }
	nav a.li-int:nth-child(2):hover:after { width: 96px; }
	nav a.li-exp:nth-child(3):hover:after { width: 119px; }
	nav a.li-last:last-child:hover:after 	 { width: 83px; }


	/* Overrides the gold hover animation to black */
	nav .nav-li:hover { color: black !important; }

	/* Used to make the section seem more centered in accordance with main text hero on index.html */
	nav .nav-li:first-child { margin: -70px 0 0; }
















/* ********************************************************************************* *\
|* ********************************* FOOTER **************************************** *|
\* ********************************************************************************* */

	footer {
		display: block !important;
		font: 700 13px "Roboto Mono", Helvetica, sans-serif;
		letter-spacing: 0;
		color: black;
		margin-bottom: 1vh;

		display: flex !important;
    	flex-flow: column nowrap;
	}

	
	footer .social-container {
		display: flex;
	    flex-flow: row nowrap;
	    justify-content: space-around;
	    max-width: 195px;
	}


	footer a div {
		height: 25px;
		width: 25px;
		display: inline-block;
		margin: 0 15px 0 0;
		cursor: pointer;
	}

	/*footer .twitter-icon { background-image: url('../img/icons/black-social/twitter.png'); }
	footer .ig-icon { background-image: url('../img/icons/black-social/instagram.png'); }
	footer .git-icon { background-image: url('../img/icons/black-social/github.png'); }
	footer .mail-icon { background-image: url('../img/icons/black-social//mail.png'); }

	footer .twitter-icon:hover { background-image: url('../img/icons/gold-social/twitter.png'); }
	footer .ig-icon:hover { background-image: url('../img/icons/gold-social/instagram.png'); }
	footer .git-icon:hover { background-image: url('../img/icons/gold-social/github.png'); }
	footer .mail-icon:hover { background-image: url('../img/icons/gold-social/mail.png'); }*/

	footer .social-container a,
	footer .social-container:hover a,
	footer .social-container:hover a:hover {
		transition: all .1s ease-in-out;
		-webkit-transition: all .1s ease-in-out;
		-moz-transition: all .1s ease-in-out;
		-o-transition: all .1s ease-in-out;
	}

	footer .social-container a { color: #404040 !important; }
	footer .social-container:hover a { color: #999 !important; }
	footer .social-container:hover a:hover { color: #a3876d !important; }

	footer div a {
		font-size: 24px;
		margin-bottom: 4px;
	}

	footer div a:last-child {
		font-size: 20px;
    	margin: 3px 0 0;
	}

	footer div a:last-child div {
		height: 20px;
		width: 20px;
	}

	footer p.copyright {
		font-size: 14px;
		text-transform: uppercase;
		cursor: default;
		color: #a3876d;
	}


/* End the desktop view*/
}






@media (max-width: 768px) {
	nav {
		display: inline-flex;
		align-items: center;
		justify-content: space-between;

		position: fixed;
    	background: white;
		height: 70px;
		width: 100vw;
		margin: 0;
		padding: 0;

		display: flex;
	    flex-flow: row nowrap;
	    justify-content: space-between;
	    align-items: center;
	}

	.above-overlay { z-index: 10001; }

	nav a#logo {}
	nav a > img {
		height: 40px;
	    width: auto;
	    margin: 0 0 0 35px;
	}
	
	.menu-burger {
		width: 45px;
    	height: 40px;
		cursor: pointer;
		display: block;
		right: 50px;
		margin: 0 20px 0 0;
		padding: 10px;
	}


	.bar,
	.bar:after,
	.bar:before {
		height: 1px;
		background: black;
		/*width: 27px;*/

		webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
	}

	.bar:before { width: 25px; }
	.bar  		{ width: 25px; }
	.bar:after 	{ width: 25px; }

	.bar {
		position: relative;
		transform: translateY(10px);
		transition: all 0ms 300ms;
	}

	.bar:before {
		content: "";
		position: absolute;
		left: 0;
		bottom: 8px;
		transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
	}

	.bar:after {
		content: "";
		position: absolute;
		left: 0;
		top: 8px;
		transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
	}

	
	.bar.animate {
		width: 20px;
		/* Bar becomes transparent when the other two bars form the x */
		background: rgba(255, 255, 255, 0);
	}

	.bar.animate:after {
		/* One of two bars that turns to cross*/
		width: 20px;
		top: 0;
		transform: rotate(45deg);
		transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
	}

	.bar.animate:before {
		/* One of two bars that turns to cross*/
		width: 20px;
		bottom: 0;
		transform: rotate(-45deg);
		transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
	}


	/*overlay*/

	.overlay {
		position: fixed;
		height: 100vh;
		width: 100vw;
		top: 0;
		left: 0;
		overflow: auto;
		z-index: 10000; /* One less than menu-burger */ 
		/* Background Image */
		background: rgba(255, 255, 255, 0.9);
		background-attachment: fixed;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.overlay a { text-decoration: none; }

	.overlay .menu-options-list {

		display: flex;
		flex-flow: column nowrap;
		text-align: center;
		padding: 0;
		margin: 15vh 0 0;
	}

	.overlay .menu-option {
		display: block;
		width: 100%;
		margin: 10px 0;
	}

	.overlay .menu-option:hover {
		background-color: darkgrey;

		webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
	}

	.overlay .menu-option a {
		color: dimgrey;
		font: 700 50px 'Heebo', helvetica, san-serif;
		letter-spacing: 2px;
		text-transform: lowercase;
	}

	.overlay .menu-option:hover a {
		color: white;
	}

	.overlay .menu-option a span { color: #a3876d;}

	@-webkit-keyframes slideDownIn {
	  0%   { opacity: 0;
				transform: translate(0, -100px);
			 }
	  100% { opacity: 1;
				transform: translate(0, 0);
			 }
	}
	@-moz-keyframes slideDownIn {
		 0%   { opacity: 0;
				transform: translate(0, -100px);
			 }
	  100% { opacity: 1;
				transform: translate(0, 0);
			 }
	}
	@-o-keyframes slideDownIn {
		 0%   { opacity: 0;
				transform: translate(0, -100px);
			 }
	  100% { opacity: 1;
				transform: translate(0, 0);
			 }
	}
	@keyframes slideDownIn {
		 0%   { opacity: 0;
				transform: translate(0, -50px);
			 }
	  100% { opacity: 1;
				transform: translate(0, 0);
			 }
	}

	.slideDownIn {
	  -webkit-animation: slideDownIn 1s; /* Safari 4+ */
	  -moz-animation:    slideDownIn 1s; /* Fx 5+ */
	  -o-animation:      slideDownIn 1s; /* Opera 12+ */
	  animation:         slideDownIn 1s; /* IE 10+, Fx 29+ */
	}


	#overlay footer {
		position: absolute;
	    bottom: 12.5vh;
	    left: 0;
	    right: 0;
	    text-align: center;
	}

	#overlay footer div {
		width: 300px;
		margin: 0 0 10px 0;

		display: inline-flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		align-items: center;
	}

	#overlay footer div .social {
		/* font-awesome */
		font-size: 30px;

	    width: 30px;
	    height: 30px;
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: center center;
	    cursor: pointer;
	}

	#overlay footer p.copyright { font: 700 15px 'Heebo', Helvetica, sans-serif; }

	#overlay footer .twitter-icon { background-image: url('../img/icons/black-social/twitter.png'); }
	#overlay footer .ig-icon { background-image: url('../img/icons/black-social/instagram.png'); }
	#overlay footer .git-icon { background-image: url('../img/icons/black-social/github.png'); }
	#overlay footer .mail-icon { background-image: url('../img/icons/black-social//mail.png'); }

	#overlay footer .twitter-icon:hover { background-image: url('../img/icons/gold-social/twitter.png'); }
	#overlay footer .ig-icon:hover { background-image: url('../img/icons/gold-social/instagram.png'); }
	#overlay footer .git-icon:hover { background-image: url('../img/icons/gold-social/github.png'); }
	#overlay footer .mail-icon:hover { background-image: url('../img/icons/gold-social/mail.png'); }
}




/*  RESPONSIVE STARTS HERE  */

@media (max-width: 500px){
	/*body { overflow: visible; }*/

	/*nav { height: 70px; }*/

	nav a > img {
		height: 33px;
		width: auto;
    	margin: 0 0 0 25px;

		webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
	}

	.bar, .bar:after, .bar:before {
		height: 1px;

		webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
	}

	.bar:before { bottom: 7px; width: 23px;}
	.bar 		{ width: 23px; }
	.bar:after  { top: 7px; width: 23px;}

	.bar.animate:before,
	.bar.animate:after { width: 23px; }

	.menu-burger {
		margin-bottom: 0;
		/*padding: 12px;*/
		margin: 0 25px 0 0;
	}

	.about div.about-header { margin-top: 86px !important; }
	.about h1.page-title { top: 96px !important; }
}
