@import "_colors.scss";

#site-wrapper {
	width: 100%;
	margin: 100px 0 0 0;

	#site-outline {
		width: calc(100% - 60px);
		height: calc(100vh - 60px);

		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;

		margin: 25px;

		border: 5px solid $outline_gray;
		pointer-events: none;
		cursor: default;
		z-index: 9999;
	}

	main#content {
		> div {
			margin: 100px 0 0 0;
		}
	}
}