@import '../_colors.scss';

.page-home {

	main#content {
		display: flex;
		flex-flow: row nowrap;
		min-height: calc(100vh - 150px); // vh - (height of navigation + space from bottom margin line)

		> div {
			width: 650px;

			&#info {
				display: flex;
				flex-flow: column;

				.name {
					font-size: 55px;
				}

				.title {
					font-size: 18px;
					padding: 0;
					margin: 0;
				}

				.divider {
					&:after {
						position: initial;
						display: block;
						content: '';
						height: 1px;
						width: 100px;
						margin: 50px 0;
						border-bottom: 1px dotted $gray;
					}
				}

				.about {
					margin: 0;
				}

				.work-status {
					margin: 25px 0 0 0;

					> p {
						display: inline-block;
						border-bottom: 1px dotted $gray;

						span {
							font-weight: 700;
							text-transform: uppercase;
						}
					}
				}

				#social {
					display: flex;
					flex-flow: row nowrap;
					align-items: center;

					margin: 50px 0 0 0;

					.icon {
						display: flex;
						flex-flow: row nowrap;
						align-items: center;

						height: 25px;
						width: auto;

						margin: 0 50px 0 0;

						img {
							max-height: 100%;
							max-width: 100%;
							object-fit: contain;
						}
					}
				}
			}
		}
	}
}