@import '../_colors.scss';

.page-work {

	main#content {
		display: flex;
		flex-flow: column;
		min-height: calc(75vh - 100px); // vh - height of navigation

		> div {
			&#intro {
				margin: 100px 0 100px 0;

				> p {
					max-width: 650px;
				}
			}

			&#work {
				width: 100%;
				margin: 0 25px 0 0;

				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;

				.section {
					width: calc(50% - 25px);
					position: relative;

					display: flex !important;
					flex-flow: row nowrap !important;
					justify-content: flex-start !important;

					height: auto !important;

					&:nth-of-type(2n-1) {
						margin: 0 0 70px 0;

						&:not(:last-of-type) {
							margin: 0 0 100px 0;
						}
					}

					.img-container {
						height: 250px;
						margin: 0 50px 0 0;

						display: flex;
						justify-content: flex-end;
						align-items: flex-end;
						align-content: flex-end;

						& > img {
							height: 100%;
							width: auto;
							object-fit: contain;
						}
					}

					.info {
						z-index: 100;
						margin: 0 0 0 0;
						padding: 0 0 0 0;

						.title {
							margin: 0 0 0 0;
						}

						.subtitle {
							font-family: 'Roboto Mono';
							font-weight: 400;
							margin: 0 0 25px 0;
						}

						.desc {
							width: 95%;
							padding: 0 0 0 0;
							margin: 0 0 0 0;
						}
					}
				}
			}
		}
	}
}